<!DOCTYPE html>
<head>
<title> Menu SMXRestaurant </title>


<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">SMXRestaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Hi, Ayrton!</h1>
  <p class="lead">This is where you can select the pizzas which you would like to order. Use blue button to add and the red one to remove.</p>
  <hr class="my-4">
</div>


<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Pizza Name</th>
      <th scope="col"> Small</th>
      <th scope="col"> Medium</th>
      <th scope="col"> Big</th>
      <th scope="col"> Huge</th>
      
    </tr>
  </thead>
  <tbody>
    {% set c = 0 %}
    {% for p in pizza_info.pizza %}
    <tr>
      <td>{{p.name}}</td>
      <td>${{p.price_sm}}</td>
      <td>${{p.price_md}}</td>
      <td>${{p.price_lg}}</td>
      <td>${{p.price_xl}}</td>
      <td><button id="add{{c}}" onclick="addOneProductToField('inp{{c}}')" class="btn btn-primary">+</button></td>
      <td><button id="subtract{{c}}" onclick="subOneProductToField('inp{{c}}')" class="btn btn-danger">-</button></td>
      <td><input id="inp{{c}}" class="input" type="text" disabled /></td>

    </tr>
    {% set c = c + 1 %}
    {% endfor %}

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
      <div class="row">
        <div class="col-md-6">
            <button class="btn btn-warning btn-block" onclick="clearAll()"> Clean All </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success btn-block" onclick=""> Finished </a>
        </div>
      </div>
      
      </td>

  </tbody>
  
</table>


<br>

</div>

<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
    <a href="#" class="btn btn-primary">Go to dashboard</a>
  </div>
  <div class="card-footer text-muted">
      Developed by Ayrton Sousa (Samex LLC)
  </div>
</div>



<script>

    function addOneProductToField(idField){
      
        var v = document.getElementById(idField).value;
        
        if(v == ""){
            v = 0
        }
        document.getElementById(idField).value = parseInt(v) + 1
    
    }
    function subOneProductToField(idField){

        var v = document.getElementById(idField).value;
        console.log(v)
        if(v == ""){
            v = 0
        }

        if((v-1) > 0){
                document.getElementById(idField).value = parseInt(v) - 1
        }

        if((v-1) == 0){
                document.getElementById(idField).value = ""
        }
    }

    function clearAll(){
        console.log("ops")
        document.getElementsByClassName("input").value = ""
    }
</script>
</body>
</html>